<h1>All Books</h1>

<p *ngIf="!books"><em>Loading...</em></p>

<button [routerLink]=" ['./new'] ">Add new</button><br/><br/>

<table class='table' *ngIf="books" border="1" cellspacing="3" cellpadding="5">
    <thead>
    <tr>
        <th>Name</th>
        <th>Text</th>
        <th>Year</th>
        <th>Genres</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
        <td>{{ book.name }}</td>
        <td>{{ book.text }}</td>
        <td>{{ book.year }}</td>
        <td>{{ getGenresView(book.genres) }}</td>
        <td>
            <button (click)="deleteBook(book.id)">delete</button>
            <button [routerLink]=" ['../view', book.id] ">view detail</button>
            <!--<button>edit</button>-->
        </td>
    </tr>
    </tbody>
</table>
