<h1>Books</h1>

<p *ngIf="!books"><em>Loading...</em></p>

<table class='table' *ngIf="books">
    <thead>
    <tr>
        <th>Name</th>
        <th>Text</th>
        <th>Year</th>
        <th>Genres</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
        <td>{{ book.name }}</td>
        <td>{{ book.text }}</td>
        <td>{{ book.year }}</td>
        <td>{{ book.genres.toString() }}</td>
        <td>
            <a role="button" class="d-block" (click)="deleteBook(book.id)">delete</a> |
            <a role="button" class="d-block">!add edit!</a>
        </td>
    </tr>
    </tbody>
</table>
