<h1>All Genres</h1>

<p *ngIf="!genres"><em>Loading...</em></p>

<table class='table' *ngIf="genres">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let genre of genres">
        <td>{{ genre.id }}</td>
        <td>{{ genre.name }}</td>
        <td>
            <button (click)="deleteGenre(genre.id)">delete</button>
            <button [routerLink]=" ['../edit', genre.id] "
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">edit</button>
        </td>
    </tr>
    </tbody>
</table>