<h1>All Genres</h1>

<button [routerLink]=" ['./new'] ">Add new</button><br/><br/>

<p *ngIf="!genres"><em>Loading...</em></p>
<table class='table' *ngIf="genres" border="1" cellspacing="3" cellpadding="5">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let genre of genres">
        <td>{{ genre.id }}</td>
        <td>{{ genre.name }}</td>
        <td>
            <button (click)="deleteGenre(genre.id)">delete</button>
            <button [routerLink]=" ['../edit', genre.id] ">edit</button>
        </td>
    </tr>
    </tbody>
</table>