<h1>Geres</h1>

<p *ngIf="!genres"><em>Loading...</em></p>

<table class='table' *ngIf="genres">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let genre of genres">
            <td>{{ genre.name }}</td>
            <td>
                <a role="button" class="d-block" (click)="deleteGenre(genre.id)">delete</a> |
                <a role="button" class="d-block">!add edit!</a>
            </td>
        </tr>
    </tbody>
</table>